*.ncrunchproject
*.suo
*.cache
*.ncrunchsolution
*.user

packages

_Resharper.CasualGodComplex
_NCrunch_CasualGodComplex

CasualGodComplex/bin
CasualGodComplex/obj

CasualGodComplex.Test/bin
CasualGodComplex.Test/obj
