*.ncrunchproject
*.suo
*.cache
*.ncrunchsolution
*.user

.vs
packages

_ReSharper.Caches
_Resharper.CasualGodComplex
_NCrunch_CasualGodComplex

CasualGodComplex/bin
CasualGodComplex/obj

CasualGodComplex.Test/bin
CasualGodComplex.Test/obj
